html {
  font-family: "Sam3KRFont";
  font-size: 18px;
  line-height: 1.2;
}

/* .wrapper {
  display: flex;
  justify-content: center;
} */

.textarea {
  width: 400px;
  min-height: 200px;

  border: 1px solid;
  outline: none;

  padding: none;
  margin: 50px 0px;
}
